@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(to right top, #f6f2fd, #f9f1fb, #fbf0f8, #fdeff4, #feeef1, #ffefef, #fff0ed, #fff1eb, #fff3ea, #fff6ea, #fff9ea, #fefceb);
}
a
{
    text-decoration: none;
    color: black;
}
.body
{
    margin-top: 5%;
    padding: 0px 40px 0px 40px;
    
}
.firstblock
{
    
    margin: auto;
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
    margin-left: -150px;

}
#firstpart
{
    text-align: left;
    /* margin-left: -20px; */
    line-height: 40px;
    font-size: 20px; margin: 0 auto;
}

.enquirybtnclass
{
    text-align: center;
    margin: 2% 0px 2% 0px;
}
.enquirybtn
{
    background-color: #8b0000;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    outline: none;
    border: none;

}
.dabba
{
    width: 60%;
    margin: auto;
    padding-top: 5px;
    font-size: 20px;
}
#back
{    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 28px rgb(198, 197, 197);
    margin-bottom: 40px;
    background-color: #fff;
    margin-top: 40px;
}
.box1
{
    width: 300px;
    height: 350px;
    /* box-shadow: 5px 5px 28px darkgray; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background-color: #fff;
    margin: auto;
}
#curve
{
    border-top-left-radius:15px;
    border-top-right-radius:15px

}
/* .boxes
{
    width: 100%;
    margin: auto;
} */
.red
{
    color:#8b0000;
    /* font-weight: bold; */
}
@media only screen and (max-width: 1100px) {
    .firstblock{
        margin-left:0px ;
        text-align: center;
        
    }
    #firstpart
    {
        margin: auto;
        width: 100%;
        font-size: 13px;
        line-height: 30px;
    }
    .dabba
    {
        width: 100%;
    }

}