











/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200&family=Island+Moments&family=Montserrat:ital,wght@0,100;1,200&family=Open+Sans&family=Poppins:wght@300&display=swap'); */
body{
    /* font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Island Moments', cursive;
  font-family: 'Montserrat', sans-serif; */
font-family: 'Open Sans', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
footer {
  background-color: #362916;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.some {
  width: 85%;
  margin: auto;
  
  padding-left: 5%;
}


ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.needcenter{
  padding: 0px 5% 0 5%;
}
#links
{
  display: flex;
  flex-direction: row;
}
#pcode
{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.ctbtn {
  display: inline-block;
  padding: 0.9rem 2.4rem;
  border-radius: 50px;
  font-weight: 600;
  color: white;
  border: 0.1px solid white;
  background-color: #362916;
  
  cursor: pointer;
}
.ctbtn:hover
{
  background-color: #E2C7A0;

}

@media only screen and (max-width: 600px) {
  .needcenter
  {
    text-align: center;
    padding: 0px;
  }
  .credits
    {
       
        font-size: 12px;
    }
    
}
